.buy-btn {
    color: var(--text-primary);
    background-color: var(--background);
    transition: all .5s;
    border: 0.1rem solid #909090;
    font-weight: 700;
    cursor: pointer;
}

.inactive {
    opacity: 50%;
    cursor: not-allowed;
}