.cart-empty-text {
    padding: 2rem;
}

.table {
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.table-header {
    color: var(--text-primary);
    background-color: var(--background);
    transition: all .5s;
    text-align: center; 
    font-weight: 700;
}

.title-col {
    max-width: 30%;
}

.quantity-col {
    min-width: 7rem;
}

.price-col {
    min-width: 7rem;
}

.product-pic {
    max-width: 10rem;
}

.quantity {
    padding: 0 0.5rem;
}