nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #909090;
}

.logo {
    max-width: 5rem;
    padding-right: 1rem;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box {
    border: none;
    border-bottom: 0.1rem solid #909090;
    padding-right: 2rem;
}

.cart-area {
    padding-right: 2rem;
}

.switch {
    color: #909090;
}