.nav-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
}

.nav-row-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    border-bottom: solid 1px #ccc;
    margin-bottom: 1rem;
}

.logo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #909090;
}

.logo {
    max-width: 5rem;
    padding-right: 1rem;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    border: none;
    border-bottom: 0.1rem solid #909090;
    padding-right: 2rem;
    background-color: var(--background);
}

.cart-area {
    padding-right: 2rem;
}

.switch {
    color: #909090;
}

.rating-sort-button {
    font-weight: 700;
    color: var(--text-primary);
    transition: all .5s;
    border: 0.1rem solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #ccc;
    cursor: pointer;
}

.price-sort-button {
    font-weight: 700;
    color: var(--text-primary);
    transition: all .5s;
    border: 0.1rem solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #ccc;
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-row-1 {
        flex-direction: column;
    }

    .search-bar, .color-toggle, .cart-area {
        margin: 1rem;
    }

    .nav-row-2 {
        flex-direction: column;
    }

    .category-select, .rating-sort-button, .price-sort-button {
        margin: 1rem;
    }
}

